body {
    font-family: "Gill Sans", sans-serif;
    align-items: center;
}

footer {
    padding-top: 1rem;
    font-size: 80%;
}

select {
    max-width: 18rem;
}

.home {
    margin: .1em;
}

.purple-block {
    background-color: #4b2e83;
    opacity: 92%;
    align-self: center;
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    box-shadow: silver;
}


label {
   text-align: center;
   display: block;
   font-size: 20px;
   padding-top: 0.5rem;
}


h1, h2, h3  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 30%;
}

h2 {
    font-size: 40px;
    width: 20em;
    margin:auto;
}

h3 {
    font-size: 35px;
}

h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;    
}


h4 {
    font-size: 30px;
    text-align: left;
}

h5 {
    font-size: 25px;
    text-align:left;
    
}

main {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: left;
}

main h5 {
    color: #4b2e83;
}

main p, li{
    font-size: 1.2rem;
}

.container {
    display: flex;
    padding-top: 3ch;
}

.topnav {
    background-image: url('../img/1.jpg');
    background-size: cover;
    height: 20rem;  
    background-repeat: no-repeat;
}

.topnav h2 {
    color: white;
    margin: auto;
    margin-top: 0;
    text-align: center;
}


* { box-sizing: border-box; }



/*Photo by PhotoMIX Company from Pexels*/