body {
    margin: 2rem 5rem 2rem 5rem;
    font-family: "Gill Sans", sans-serif;
    font-size: 1rem;
}

h1, h2 {
    color: darkblue;
}

p {
    padding-bottom: .5rem;
}

footer {
    padding-top: 1rem;
    font-size: 80%;
}