body {
    font-family: "Gill Sans", sans-serif;
    align-items: center;
}


footer {
    padding-top: 1rem;
    font-size: 80%;
}

header {
    margin: .1em;
}

.purple-block {
    background-color: #4b2e83;
    opacity: 88%;
    align-self: center;
    width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    box-shadow: silver;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.flex-container {
    display: flex;
  }
  


@media (min-width: 768px)
{
    header {
        background-image: url('../img/1.jpg');
        background-position: center;
        background-size: cover;
        height: 1000px;
        opacity: 85%;
    }
}


h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 50%;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    padding-bottom: 400em;
}




/*Photo by PhotoMIX Company from Pexels*/